@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@300&family=Poppins&display=swap');

* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    font-family: Overpass, sans-serif;
    font-weight: 400;
    color: #d9d9d9;
    background-color: #413f45;
}

/* Headings and Logo */

h1, h2 {
    font-family: Poppins, sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: #d9d9d9;
}

#logo {
    float: left;
    font-size: 300%;
}

#menu {
    font-size: 110%;
    letter-spacing: 4px;
}

#menu, #logo {
    line-height: 75px;
}

#menu li {
    float: right;
    list-style-type: none;
    margin-right: 30px;
}

#menu a{
    text-decoration: none;
    color: inherit;
}

#menu :hover {
    border-bottom: 1px solid #d9d9d9;
}

.active {
    border-bottom: 1px solid #d9d9d9;
}

/* Hero Image */

#hero-outer {
    height: 600px;
    width: 100%;
    overflow: hidden;

    position: relative;
}

#cover-text, #cover-text h2 {
    color: #d9d9d9;
}

#hero-image {
    height: 600px;
    width: 100%;
    background: url('../images/hero-image.jpeg') no-repeat center center;


/* Animates zoom effect on loading page */

animation-name: hero-zoom;
animation-duration: 3s;
animation-fill-mode: forwards;
}

/* Create zoom animation for logo image */ 
@keyframes hero-zoom {
    from{
        transform: scale(1);
    }
    to{
        transform: scale(1.1);
    }    
}

#cover-text {
    font-size: 100%;
    font-family: Poppins, sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;

    text-align: center;

    width: 400px;
    height: 300px;

    padding: 10px, 10px, 10px, 10px;


    bottom: -100px;
    right: 750px;

    position: absolute;
}

/* About Me section */

#about-me {
    text-align: center;
    padding-left: 500px;
    padding-right: 500px;
}

/* Footer */

footer {
    height: 150px;
}

.social-networks {
    text-align: center;
}

.social-networks > li {
    list-style-type: none;
    display: inline;
}

.social-networks i {
    font-size: 160%;
    margin: 1%;
    padding: 5%;
    color: #d9d9d9;
}